{% extends 'base.html.twig' %}

{% block title %}Emmaüs Connect - Accueil{% endblock %}

{% block body %}
    <div class="text-center mt-5 d-lg-none w-50 rounded-end-5 bg-secondary mb-5">
        <p class="text-uppercase m-0 p-1 fw-bold">Accueil</p>
    </div>
    <div class="m-auto">
        <h1 class="text-uppercase d-none d-lg-flex m-5" {{ stimulus_controller('symfony/ux-typed', {strings:
            ['Faire du numérique une chance pour tous'], showCursor: false}) }}> Bienvenue, firstname !</h1>
        <p class="text-center mb-5"></p>
    </div>
    <section class="accueil-grid">

        <div class=" lien-accueil w-50 m-auto">
            <a href="" type="button" class="btn btn-success mb-4 rounded-5 p-md-4 w-100 text-white">
                Estimer un téléphone
            </a>
            <a href="{{ path('app_catalog') }}" type="button" class="btn btn-success rounded-5 p-md-4 w-100 text-white">Voir le catalogue</a>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <img src="{{ asset('build/images/logo3.png') }}" alt="" class="logo3 mt-2 img-fluid">
        </div>
    </section>
{% endblock %}
