{% extends 'base.html.twig' %}

{% block title %}Emmaüs Connect - Accueil{% endblock %}

{% block body %}
    <div class="container p-0 m-0">
        <div class="text-center mt-5 d-lg-none w-50 rounded-end-5 bg-secondary">
            <p class="text-uppercase">Accueil</p>
        </div>
        <div>
            <h1 class="text-uppercase d-none d-lg-flex">Faire du numérique une chance pour tous</h1>
            <p>Bienvenue firstname</p>
        </div>
    </div>
{% endblock %}
