{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1 {{ stimulus_controller('symfony/ux-typed', {strings: ['ok', 'ok', 'ok']}) }}>
            Let's start coding&nbsp;&#129304;
        </h1>
    </div>
    <div class="white-stripe">
        <img src="{{ asset('build/images/LOGO_WILD_CODE_SCHOOL.png') }}"
             alt="">
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0fe2cb98-501e-4ca8-a5d2-877a717c4a9c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock %}

