<footer class="bg-primary  d-flex flex-row justify-content-around">
    <a href="{{ path('app_home') }}"><i class=" h1 bi bi-house text-white  "></i></a>
    <a href="{{ path('app_estimate') }}"><i class=" h1 bi bi-plus-lg text-white  "></i></a>
    <a href="{{ path('app_catalog') }}"><i class="  h1 bi bi-search text-white "></i></a>
</footer>
