<footer class="bg-primary  d-flex flex-row justify-content-around">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('index') }}"><i class="h1 bi bi-pencil-square text-white"></i></a>
    {% endif %}
    <a href="{{ path('app_estimate') }}"><i class="h1 bi bi-calculator text-white"></i></a>
    <a href="{{ path('app_estimate') }}"><i class=" h1 bi bi-plus-lg text-white  "></i></a>
    <a href="{{ path('app_catalog') }}"><i class="  h1 bi bi-search text-white "></i></a>
</footer>
