<nav class="navbar bg-primary ">
    <img class="ms-4" src="{{ asset('build/images/emmaus_connect_logo2.png') }}" alt="Logo d'Emmaus connect">
    <div class="mx-4">

        <a href=""><i class=" h1 bi bi-house text-white "></i></a>
        <a href=""><i class=" mx-5 h1 bi bi-search text-white "></i></a>
        <a href=""><i class=" h1 bi bi-plus-lg text-white "></i></a>


    </div>
</nav>
