<form method="post" action="{{ path('app_admin_smartphone_delete', {'id': smartphone.id}) }}"
      onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce smartphone ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ smartphone.id) }}">
    <button class="rounded-2">Supprimer</button>
</form>
