.navbar {
    height : 4rem;
    img{
        height: 3rem;
    }
    div{

    }
}
@media screen and (max-width: 500px){
    .navbar div{
        visibility: hidden;
    }
    .logout-phone{
        margin-right: 1rem;
    }
}
@media screen and (min-width: 500px){
    .logout-phone{
        display: none;
    }

}
