<aside class="col-3 border border-light bg-info-subtle p-2">
    <article class="card mb-3">
        <div class="hearder p-2
">
            Accueil administration
        </div>
        <div class="card-body">
            <p><a href="{{ path('index') }}">Retour à l'accueil de l'administration</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_admin_user_index') }}">Liste des Utilisateurs</a></p>

        </div>
    </article>

</aside>
