{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="mb-4"><a href="{{ path('app_admin_user_index') }}"><i class="bi bi-arrow-90deg-left"></i>
            Liste des utilisateurs </a></div>

    <h1 class="admin-title">Modifier l'utilisateur</h1>

    {{ include('admin/admin_user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('admin/admin_user/_delete_form.html.twig') }}
{% endblock %}
