{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('admin/admin_user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <button class="btn btn-primary">
        <a href="{{ path('app_admin_user_index') }}" class="text-decoration-none text-white">Retour à la liste des utilisateurs</a>
    </button>

    {{ include('admin/admin_user/_delete_form.html.twig') }}
{% endblock %}
