{% extends 'base.html.twig' %}

{% block title %} Page introuvable
{% endblock %}

{% block body %}
<div class="404">
    <div class="d-flex flex-column my-auto align-items-center ">
        <h1>Faire du numérique une chance pour tous ...</h1>
        <p>Mais pas ici car vous n'êtes pas sur la bonne page ...</p>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>
{% endblock %}
