{% extends 'base.html.twig' %}

{% block title %} Page introuvable
{% endblock %}

{% block body %}

    <div class=" p404 d-inline  justify-content-center  mt-lg-5">
        <div class="d-flex flex-row-reverse flex justify-content-center me-5">
        <img src="{{ asset('build/images/logo3.png') }}"
             alt="logo d'emmaus connect">

        </div>
            <div class=" text-center my-auto">
                <div class="  mx-auto mt-lg-3">
                <h1 class="text-uppercase">Faire du numerique une chance pour tous ...</h1>
                <p class="fw-bold">Mais pas ici car vous n'êtes pas sur la bonne page ...</p>
                    {% if app.user %}
                        <a href="/home">
                            <button type="button" class="btn btn-primary mb-5 ">Accueil</button>
                        </a>
                    {% else %}
                        <a href="/">
                            <button type="button" class="btn btn-primary mb-5 ">Accueil</button>
                        </a>
                    {% endif %}
                </div>
            </div>

    </div>

{% endblock %}
