{% extends 'base.html.twig' %}

{% block title %}Estimez un téléphone{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button data-turbo="false" type="submit">Estimez votre tel</button>
    {{ form_end(form) }}
</div>
<h1 class="m-5">{{ smartphone.price }}</h1>
{% endblock %}
